
/**
 * http://colorschemedesigner.com/#3u21TeJiO-5ZC
 * https://kuler.adobe.com/Clustered-color-theme-3230414/
 */

@font-face {
    font-family: LeagueGothic;
    src: url('../lib/LeagueGothic-Regular.otf');
}

body {
    font-family: 'Oswald', sans-serif;
    font-size: 35px;
    margin: 0;
    padding: 0;
    /*color: #2E1A00;*/
    color: #060046;
    /* background: #EFF7FC; */
    /* background: #faf9ff; */
    background: #f5f7ff;
}

.section {
    width: 1024px;
    margin: 0 auto;
}

a {
    /* color: #1700FF; */
    color: #0D9FFE;
    text-decoration: none;
}


h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
    font-family: LeagueGothic, Tahoma, sans-serif;
}

h1 {
    font-weight: normal;
    font-size: 2.75em;
    text-align: left;
}

h2 {
    font-size: 1.5em;
}

ul, ol {
    padding: 0;
    margin: 0;
}

header {
    padding-bottom: 10px;
    border-bottom: 1px solid  #acb7de;

}

.clearit {
    clear: both;
}


.heading-font {
    font-family: LeagueGothic, Tahoma, sans-serif;
}


/* portrait
 * ================================================= */

.portrait {
    width: 125px;
    overflow: hidden;
    margin: 0 auto;
    float: left;
}

.portrait .portrait-image {
    width: 150px;
    position: relative;
    left: -25px;
}



/* Right
 * ================================================= */
.right-header-menu {
    line-height: 33px;
    padding-top: 10px;
}

/* Linkbar
 * ================================================= */

ul.linkbar {

    text-align: right;
}

ul.linkbar li {
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline-block;
    font-size: .8em;
    margin-left: 10px;
}



/* Header
 * ================================================= */


h1.head {
    float: left;
    width: auto;
}

.head {
    height: 110px;
    line-height: 110px;
}



/* scant-bio
 * ================================================= */

ul.scant-bio {
    width: auto;
    text-align: right;
}

.scant-bio li {
    text-align: right;
    list-style: none;
    font-size: .9em;
}

/* skill-list
 * ================================================= */
.skill-list {
    margin: 0;
    padding: 0;

    font-family: Inconsolata;
    font-size: .6em;
}

.skill-list li {
    list-style: none;
    width: auto;
    padding: 4px;
    margin: 2px;
    border: 1px solid none;
    display: inline-block;

    color: #555465;
}

.skill-list .selected {
    border: 1px solid #CE00FE;
    padding: 3px;
    color: #CE00FE;
}

.skill-list .highlighted {
    color: #8f70b3;
}

.skill-list .selected {
    border: 1px solid #CE00FE;
    padding: 3px;
    color: #CE00FE;
}


/* experience
 * ================================================= */

.experience-section .exp-list {
    padding: 0;
    margin: 0;
}

.experience-section .exp-list li {
    list-style: none;
}

.experience {
    margin: 10px 0;
    position: relative;
    min-height: 35px;
}

.experience .subinfo {
    display: none;
    position: absolute;
    right: -1px;
    top: -1px;
    padding-right:10px;
    z-index: 20;
}

.experience .subinfo .description,
.experience .subinfo .url {
    padding: 10px;
}

.experience .description {
    color: #555173;
}

.experience .header {
    cursor: pointer;
    font-size: .85em;
    position: relative;
    z-index: 40;
    padding-right: 2px;
}


.experience .header .name,
.experience .header .dates {

}

.experience .header .name {
    margin: 0 15px 0 5px;

}

.experience .header .dates {
    font-size: .65em;
    margin-left: 25px;
}

/* Selected */

.experience.selected {
    background: #fefcff;
    color: #00131E;
    border: 1px solid #8f70b3;
    min-height: 35px;
}

.experience.selected .header {
    background: #FEFCFF;
}

.experience.selected .subinfo {
    display: block;
    border: 1px solid #8f70b3;
    background: #fefcff;
    font-size: .5em;
    display: block;
    min-height: 60px;
}
