
/**
 * http://colorschemedesigner.com/#3u21TeJiO-5ZC
 * https://kuler.adobe.com/Clustered-color-theme-3230414/
 */

@font-face {
    font-family: LeagueGothic;
    src: url('../lib/LeagueGothic-Regular.otf');
}

body {
    font-family: LeagueGothic, Tahoma, sans-serif;
    font-size: 35px;
    width: 1024px;
    margin: 0 auto;
    /*color: #2E1A00;*/
    color: #060046;
    /* background: #EFF7FC; */
    background: #faf9ff;
}

a {
    color: #1700FF;
    text-decoration: none;
}


h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
}

h1 {
    font-weight: normal;
    font-size: 100px;
    text-align: left;
}

h2 {
    font-size: 50px;
    margin-top: 25px;
}



.clearit {
    clear: both;
}



/* portrait
 * ================================================= */

.portrait {
    width: 125px;
    overflow: hidden;
    margin: 0 auto;
    float: left;
}

.portrait .portrait-image {
    width: 150px;
    position: relative;
    left: -25px;
}




/* Linkbar
 * ================================================= */

ul.linkbar {
    padding: 0;
    margin: 0;
}

ul.linkbar li {
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline-block;
    font-size: .8em;
    margin-right: 25px;
}



/* Header
 * ================================================= */


h1.head {
    float: left;
    width: auto;
}

.head {
    height: 110px;
    line-height: 110px;
}


/* social media
 * ================================================= */
.social-media .button {
    display: inline-block;
    width: auto;
    vertical-align: top;
    line-height: 5px;
}

/* scant-bio
 * ================================================= */

ul.scant-bio {
    width: auto;
    float:right;
    margin: 22px 0 0;
    padding: 0;
}

.scant-bio li {
    font-size: 30px;
    text-align: right;
    list-style: none;
}

/* skill-list
 * ================================================= */
.skill-list {
    margin: 0;
    padding: 0;

    font-family: Inconsolata;
    font-size: .6em;
}

.skill-list li {
    list-style: none;
    width: auto;
    padding: 4px;
    margin: 2px;
    border: 1px solid none;
    display: inline-block;

    color: #555465;
}

.skill-list .selected {
    border: 1px solid #CE00FE;
    padding: 3px;
    color: #CE00FE;
}

.skill-list .highlighted {
    color: #8f70b3;
}

.skill-list .selected {
    border: 1px solid #CE00FE;
    padding: 3px;
    color: #CE00FE;
}


/* experience
 * ================================================= */

.experience-section .exp-list {
    padding: 0;
    margin: 0;
}

.experience-section .exp-list li {
    list-style: none;
}

.experience {
    margin: 10px 0;
    padding: 0 5px;
    position: relative;
}


.experience .subinfo {
    display: none;
    position: absolute;
    right: -1px;
    top: -1px;
    padding-right:10px
}

.experience.selected .subinfo {
    display: block;
}

.experience .header {
    cursor: pointer;
}


.experience .header .name,
.experience .header .dates {
    display: inline-block;
    width: auto;
    height: 30px;
    line-height: 30px;
}

.experience .header .name {
    margin-right: 15px;
}

.experience .header .dates {
    font-size: .65em;
}

/* Selected */

.experience.selected {
    background: #fefcff;
    color: #00131E;
    border: 1px solid #8f70b3;
}

.experience.selected .subinfo {
    display: block;
    border: 1px solid #8f70b3;
    border-left: none;
    background: #fefcff;

}
