
/**
 * http://colorschemedesigner.com/#3u21TeJiO-5ZC
 * https://kuler.adobe.com/Clustered-color-theme-3230414/
 */


/**
 * http://www.fontsquirrel.com/fonts/Lane
 */

@font-face {
    font-family: 'Lane - Narrow';
    src: url('../lib/lanenar_-webfont.eot');
    src: url('../lib/lanenar_-webfont.eot?#iefix') format('embedded-opentype'),
         url('../lib/lanenar_-webfont.woff') format('woff'),
         url('../lib/lanenar_-webfont.ttf') format('truetype'),
         url('../lib/lanenar_-webfont.svg#lane_-_narrowregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


body {
    font-family: 'Fjord One', serif;
    font-size: 35px;
    margin: 0;
    padding: 0;
    color: #060046;
    background: rgb(245, 247, 255);
}

.section {
    width: 1024px;
    margin: 0 auto;
}

a {
    color: #0D9FFE;
    text-decoration: none;
}

a[target=_blank]:after {
    content: ' \00bb';
    font-size: .80em;
}


h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
    /* font-family: 'league_gothicregular', Tahoma, sans-serif; */
    font-family: 'Lane - Narrow', Tahoma, sans-serif;
}

h1 {
    font-weight: normal;
    font-size: 2.2em;
    text-align: left;
}

h2 {
    font-size: 1.5em;
}

ul, ol {
    padding: 0;
    margin: 0;
}

header {
    padding-bottom: 0px;
    border-bottom: 1px solid  #acb7de;

}

.clearit {
    clear: both;
}


.heading-font {
    /* font-family: 'league_gothicregular', Tahoma, sans-serif; */
    font-family: 'Lane - Narrow', Tahoma, sans-serif;

}

.main-display {
    height: 550px;
}


/* portrait
 * ================================================= */

.portrait {
    width: 94px;
    overflow: hidden;
    margin: 0 auto;
    float: right;
}

.portrait .portrait-image {
    width: 130px;
    position: relative;
    left: -20px;
}



/* Right
 * ================================================= */
.right-header-menu {
    padding-top: 5px;
    font-size: .67em;
}

/* Linkbar
 * ================================================= */

ul.linkbar {

    text-align: right;
}

ul.linkbar li {
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline-block;
    margin-left: 10px;
}



/* Header
 * ================================================= */


h1.head {
    width: 100%;
}

.head {
    height: 95px;
    line-height: 95px;
}


/* Footer
 * ================================================= */
footer {
    text-align: center;
    font-size: .4em
}


/* scant-bio
 * ================================================= */

ul.scant-bio {
    width: auto;
    text-align: right;
}

.scant-bio li {
    list-style: none;
    float: left;
    margin-right: 15px;
}

/* skill-list
 * ================================================= */
.skill-list {
    margin: 0;
    padding: 0;

    font-family: Inconsolata;
    font-size: .6em;
}

.skill-list li {
    list-style: none;
    width: auto;
    padding: 4px;
    margin: 2px;
    border: 1px solid none;
    display: inline-block;

    color: #555465;
}

.skill-list .selected {
    border: 1px solid #CE00FE;
    padding: 3px;
    color: #CE00FE;
}

.skill-list .highlighted {
    color: #8f70b3;
}

.skill-list .selected {
    border: 1px solid #CE00FE;
    padding: 3px;
    color: #CE00FE;
}


/* main-section
 * ================================================= */

.main-section {
    position: relative;
    height: 550px;
    overflow:hidden;
}


/* experience
 * ================================================= */

.experience-section .exp-list {
    padding: 0;
    margin: 0;
}

.experience-section .exp-list li {
    list-style: none;
}

.experience {
    margin: 10px 0;
    position: relative;
    min-height: 35px;
}

.experience .subinfo {
    display: none;
    position: absolute;
    right: -1px;
    top: -1px;
    padding-right:10px;
    z-index: 20;
}

.experience .subinfo .description,
.experience .subinfo .url {
    padding: 10px;
}

.experience .description {
    color: #555173;
}

.experience .header {
    cursor: pointer;
    font-size: .85em;
    position: relative;
    z-index: 40;
    padding-right: 2px;
}


.experience .header .name,
.experience .header .dates {

}

.experience .header .name {
    margin: 0 15px 0 5px;

}

.experience .header .dates {
    font-size: .65em;
    margin-left: 25px;
}

/* Selected */

.experience.selected {
    background: #fefcff;
    color: #00131E;
    border: 1px solid #8f70b3;
    min-height: 35px;
}

.experience.selected .header {
    background: #FEFCFF;
}

.experience.selected .subinfo {
    display: block;
    border: 1px solid #8f70b3;
    background: #fefcff;
    font-size: .5em;
    display: block;
    min-height: 60px;
}


/* experience
 * ================================================= */

.detail-view-column {
    position: absolute;
    left: 250px;
    top: 0;
}

.detail-view {
    padding: 15px;
    font-size: .55em;
    background: rgba( 255, 255, 255, .65 );
    border: 1px solid #060046;
    border-radius: 5px;
}


.detail-view .title {
    font-size: 1.67em;
    border-bottom: 1px solid;
}



.detail-view .experience-detail {
    margin: auto 0;
}

.detail-view .dates {
    font-size: .7em;
}

.detail-view div {
    margin-bottom: 5px;
}

.detail-view a {
    font-size: .9em;
}

.detail-view .description {
    font-size: .9em;
}


.detail-view .status {
    text-transform: uppercase;
    font-size: .6em;
    display: inline-block;
    border: 1px solid  #060046;
    border-radius: 3px;
    padding: 3px;
    width: auto;

}


.detail-view .status.active {
    background: #060046;
    color: #fff;
}

.detail-view .status.inactive {
    border-color:  #8a87a0;
    color: #8a87a0;
}

.detail-view .related {
    padding-top: 10px;
    font-size: .85em;
}

.detail-view .related ul {
    list-style: none;
}

.detail-view .related li {
    margin-left: 15px;
}


/* arrow
 * ================================================= */

.arrow {
    position: absolute;
    width: 0;
    height: 0;
    left: -24px;
    z-index: 10;
    
    border-right: 25px solid #acb7de;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
}

.arrow:before {
    content:  ' ';
    position: absolute;
    width: 0;
    height: 0;
    top: -25px;
    left: 1px;
    z-index: 11;
    
    border-right: 25px solid #fff;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;    
}


/* read-more
 * ================================================= */
.read-more {
    text-align: center;
    background: 
}    
    
